<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXrat2vMMZf_dlntTS5vK94FmHrDgpr9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>460297041918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bot</string>
	<key>PROJECT_ID</key>
	<string>aibot-a245c</string>
	<key>STORAGE_BUCKET</key>
	<string>aibot-a245c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460297041918:ios:7b2d6f8766ba04ea6bb2af</string>
</dict>
</plist>